.benefits {
  &__body {
    display: flex;
    margin-left: 80px;
    @media (max-width: 1000px) {
      flex-direction: column;
      margin: 0;
      justify-content: center;
      align-items: center;
    }
  }
  &__body-img {
    width: 100%;
    flex-basis: 50%;
  }
}
.about-title {
  font-family: $font-Nekst-Light;
  font-size: 130px;
  line-height: 120.9px;
  margin-bottom: 100px;

  @media (max-width: 1000px) {
    font-size: calc(1rem + 3.25vw);
    text-align: center;
    margin-bottom: 50px;
  }
}

.about-info {
  display: flex;
  gap: 50px;
  font-family: $font-Nekst-Regular;
  color: #fff;
  @media (max-width: 1000px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  &__left {
    font-size: 40px;
    line-height: 37.2px;
  }
  &__right {
    font-size: 18px;
    font-weight: 300;
    line-height: 18.54px;
    @media (max-width: 1000px) {
      text-align: center;
    }
  }
}
