@font-face {
  font-family: "Nekst-Black";
  src: url(../fonts/nekst/Nekst-Black.woff) format("woff");
}
@font-face {
  font-family: "Nekst-Bold";
  src: url(../fonts/nekst/Nekst-Bold.woff) format("woff");
}
@font-face {
  font-family: "Nekst-Light";
  src: url(../fonts/nekst/Nekst-Light.woff) format("woff");
}
@font-face {
  font-family: "Nekst-Medium";
  src: url(../fonts/nekst/Nekst-Medium.woff) format("woff");
}
@font-face {
  font-family: "Nekst-Regular";
  src: url(../fonts/nekst/Nekst-Regular.woff) format("woff");
}
@font-face {
  font-family: "Nekst-SemiBold";
  src: url(../fonts/nekst/Nekst-SemiBold.woff) format("woff");
}
@font-face {
  font-family: "Nekst-Thin";
  src: url(../fonts/nekst/Nekst-Thin.woff) format("woff");
}
