@font-face {
  font-family: "Nekst-SemiBold";
  src: url(../fonts/nekst/Nekst-SemiBold.woff), format("woff");
}
@font-face {
  font-family: "Nekst-Regular";
  src: url(../fonts/nekst/Nekst-Regular.woff) format("woff");
}
.try {
  background-image: url(../images/try.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;

  &__title {
    font-family: "Nekst-Regular", serif;
    text-align: center;
    font-size: 100px;
    line-height: 93px;
    padding-top: 120px;
    margin-bottom: 236px;
  }

  &__btn {
    margin-bottom: 10px;
    transition: all 1s;
  }
  &__btn:hover {
    color: rgba(126, 99, 185, 1);
  }
}
