.try {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;

  &__title {
    font-family: $font-Nekst-Regular;
    text-align: center;
    font-size: 100px;
    line-height: 93px;
    padding-top: 120px;
    margin-bottom: 236px;

    @media (max-width: 1000px) {
      margin-bottom: 136px;
      font-size: calc(1rem + 6.25vw);
    }
  }

  &__btn {
    margin-bottom: 10px;
    transition: all 1s;

    @media (max-width: 1000px) {
      padding: 10px 15px;
      font-size: 19px;
      margin-bottom: 30px;
    }
  }
  &__btn:hover {
    color: rgba(126, 99, 185, 1);
  }
}
