$font-Nekst-Black: "Nekst-Black";
$font-Nekst-Bold: "Nekst-Bold";
$font-Nekst-Light: "Nekst-Light";
$font-Nekst-Medium: "Nekst-Medium";
$font-Nekst-Regular: "Nekst-Regular";
$font-Nekst-SemiBold: "Nekst-SemiBold";
$font-Nekst-Thin: "Nekst-Thin";

$color-blue: rgba(10, 80, 122, 1);
